body{
    overflow-x: hidden;
}
img, .shirtModal, .separator{
    width: 100%;
}
h2{
    text-align: center;
}
.separator{
    height: 20px;
    background-color: #2c2c2c;
    width: 400%;
}
.expandedModal{
    margin: 0px !important;
    z-index: 10000 !important;
    right: inherit !important;
    padding-top: 20px;
    left: 0;
}
.info{
    display: none;
}
.selectors{
    padding-top: 6px;
}

#title, a, a > span{
    color: black;
}

#shirtPage1, #shirtPage2, #shirtPage3, #shirtPage4{
    position: absolute;
}
#drugsPage{
    padding-left: 30px;
}
#title{
    font-family: "Segoe Script", "AR DECODE", Vijaya, Arial;
}
#homepage, #series, #about{
    overflow-x: hidden;
    margin: 0;
}
#homepage{
    height: 780px;
}
#series, #about{
    height: 800px;
}
#seriesTitle{
    padding-top: 20px;
    margin-top: 0px;
}
#homepage{
    background: url(../Content/logo.png) 50% 0 no-repeat fixed;
}

#longPage{
    width: 400%;
    position: absolute;
    background:url(../Content/SliderImages/mdmaShirt.jpg) 50% 0 repeat-x fixed;
    overflow: hidden;
}

.story{
    margin: 0 auto;
    min-width: 980px;
    width: 980px;
}